button {
	width: 100%;
	font-size: 1.4rem;
	font-weight: 600;
	background: var(--primary-bg);
	padding: var(--spacing-4-5) var(--spacing-4);
	border-radius: var(--border-radius-lg);
	box-shadow: none;
	border: none;
	text-transform: uppercase;

	&.secondary {
		border: var(--border-thickness-2) solid var(--border-color-primary);
	}
}