.selectable-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: var(--spacing-4-5);

	.selectable-item {
		flex: 1;
		background-color: var(--list-bg);
		border: var(--border-thickness-1) solid var(--list-bg);
		color: var(--list-font-color);
		border-radius: var(--border-radius-md);
		padding: var(--spacing-4-5) var(--spacing-4);
		display: flex;
		justify-content: center;
		align-items: center;
		
		
		.item-label {
			font-size: 1.4rem;
			margin-left: var(--spacing-4);
		}
		
		&.active-selectable-item {
			color: var(--font-color-tertiary);
			border-color: var(--primary-bg);
		}
	}
}