.food-menu-container {
	display: flex;
	flex-direction: column;
		justify-content: space-between;
		height: 100%;
		.top-container {
			background-color: var(--primary-bg);
			
			.heading {
			padding: 0 var(--spacing-6);
			font-family: 'Nunito-Regular';
			font-size: 2rem;
			width: 70%;
		}

		.carousal-container {
			margin: var(--spacing-6) 0;
		}
	}

	.food-menu-items {
		flex: 1;
		background: var(--secondary-bg);
		padding: var(--spacing-7) var(--spacing-6);
		display: flex;
		flex-direction: column;
		gap: var(--spacing-7);
		overflow: scroll;
	}
}