.food-menu-container {
	display: flex;
	flex-direction: column;
		justify-content: space-between;
		height: 100%;
		.top-container {
			background-color: var(--primary-bg);
			
			.heading {
			padding: 0 var(--spacing-6);
			font-family: 'Nunito-Regular';
			font-size: 1.6rem;
		}

		.carousal-container {
			margin: var(--spacing-6) 0;
		}
	}

	.food-menu-items {
		flex: 1;
		background: var(--secondary-bg);
	}
}