.navbar {
	background-color: var(--primary-bg);
	position: fixed;
	bottom: 0;
	width: 100%;

	.nav-items {
		list-style: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: var(--spacing-5) var(--spacing-8);

		.nav-item {
			aspect-ratio: 1;
			width: 40px;

			.link {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 100%;
				opacity: 0.8;

				&.active {
					opacity: 1;
				}

				.icon {
					position: relative;
				}
			}

		}
	}
	.active-border {
		position: absolute;
		top: 1px;
		left: 0px;
		width: 40px;
		height: 6px;
		border-radius: 0 0 40px 40px;
		background-color: black;
		transition: 300ms ease all;
		display: none;
	}
}