.carousel-container {
	.carousel {
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x mandatory;

		.carousel-item {
			background: var(--primary-bg);
			color: var(--font-color-primary);
			padding: var(--spacing-3) var(--spacing-5);
			font-size: 1.2rem;
			border-radius: var(--border-radius-lg);
			text-wrap: nowrap;
			margin-right: var(--spacing-4);
			transition: var(--transition-speed-2) all ease;
			
			&.active-carousel-item {
				background: var(--secondary-bg);
				color: var(--font-color-secondary);
			}

			&:first-child {
				margin-left: var(--spacing-6);
			}
		}
	}
}