.menu-item {
	background: var(--tertiary-bg);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: var(--border-radius-md);

	.content {
		padding: var(--spacing-5) ;
		.type {
			font-size: 1rem;
			font-family: 'Nunito-Regular';
		}
		
		.name {
			margin-top: var(--spacing-3);
			font-size: 1.6rem;	
			font-family: 'Nunito-SemiBold';
			text-transform: uppercase;	
		}
	}
	.image-container {
		padding: var(--spacing-3);
		display: flex;
		img {
			width: 70px;
			height: 90px;
			border-radius: var(--border-radius-md);
		}
	}
}